body {
    background-color: whitesmoke;
  }
  #names {color: black;font-family: Courier;font-size: 100%;}
  #speech {color: black;font-family: Times;font-size: 90%;}
  #stage:hover    {background-color: palevioletred;color: black;font-family: Georgia;font-size: 90%;}

.allonby {
    color: olive;
  }
  .stutfield {
    color: Maroon;
  }
  .hunstanton{
    color: Plum;
  }
  .caroline {
    color: salmon;
  }
  .hester {
    color: DarkOliveGreen;
  }

  #Cast {
    font-family: Georgia, Helvetica, sans-serif;
    border: 3px solid brown;
  width: 50%;
  border: 1px solid black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  }
  
  #Cast tr {
    border: 3px solid brown;
    text-align: center;
    padding: 3px;
  }
  
  #Cast tr:nth-child(even){background-color: #87CEFA;}
  #Cast tr:nth-child(odd){background-color: #FF69B4;}
  #Cast tr:hover {background-color: #CD5C5C;}
  
  #Cast th {
    padding-top: 12px;
    padding-bottom: 12px;
      border: 1px solid brown;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  h5:hover {
    text-shadow: 2px 2px blue;
  }